<html>
        <head>
            <title>Blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Blogs sobre viajes</a></h1>
            </div>

            <div>
                <p>published: 15.01.2018, 12:14</p>
                <h2><a href="">Mi primer post</a></h2>
                <p>Este es un primer ensayo...</p>
            </div>

            <div>
                <p>published: 15.01.2018, 02:14</p>
                <h2><a href="">Mi segundo post</a></h2>
                <p>Aquí arrancaría la info de mi sengundo post...</p>
            </div>
        </body>
    </html>